alembic==1.7.5
asgiref==3.4.1
click==8.0.3
Django==4.0
Flask==2.0.2
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.3
Mako==1.1.6
MarkupSafe==2.0.1
SQLAlchemy==1.4.29
sqlparse==0.4.2
waitress==2.0.0
Werkzeug==2.0.2
